.flex_container{

display: flex;
background-color: beige;
justify-content: start;
align-items: start;
margin: 100px 30px 10px 30px;


}

.flex_container > div {
    background-color: aquamarine;
    border: 1px solid black;
    height: 30px;
   
}
.flex_container > div:nth-child(2){

margin-left: 100px;
}
.flex_container > .logout {   
    margin-left: auto;
    margin-right: 200px;
}


.container > .header1 > div{

   margin-left: 30px;

} 
.container > .header1 > .logout {   
    margin-left: auto;
    margin-right: 200px;

}
.container{
display: grid;


grid-template-columns: repeat(12,1fr);
grid-template-rows: 50px 100px 600px 100px;

grid-gap: 2px;
margin-left: 30px;
margin-top: 30px;
}

.container > .header{

grid-column: 1/-1;

}

.container > .header1{

    display: flex;
   

   
    grid-column: 1/-1;
}

.container > .menu{

    grid-column : 1/3;

}

.container > .content{

    grid-column : 3/-1;

}

.container > .footer {

    grid-column: 1/-1;
}


.container > div:nth-child(odd){
    background-color: rgb(219, 129, 13);
}

.container > div:nth-child(even){
    background-color: rgb(176, 228, 120);
}